{% extends "admin_base.html" %}
{% block title %}后台首页{% endblock %}
{% block page_content %}
    <div class="text">合同条款</div>
    <div>
        <div style="position: absolute;left: 273px;top: 142px;width: 900px;height: 5px;">
            <img src="/static/image/u3721.png">
        </div>
        <div style="position: absolute;left: 240px;top: 130px;width: 47px;height: 47px;">
            <img src="/static/image/u3733.png">
            <div>
                <p style="position: absolute;left: 15px;top: 3px;width: 50px;height: 50px;font-size: 30px;color: gainsboro">
                    <span>1</span>
                </p>
            </div>
        </div>
        <div style="position: absolute;left:530px;top: 130px;width: 47px;height: 47px;">
            <img src="/static/image/u3733.png">
            <div>
                <p style="position: absolute;left: 15px;top: 3px;width: 50px;height: 50px;font-size: 30px;color: gainsboro">
                    <span>2</span>
                </p>
            </div>
        </div>
        <div style="position: absolute;left:830px;top: 130px;width: 47px;height: 47px;">
            <img src="/static/image/u3733.png">
            <div>
                <p style="position: absolute;left: 15px;top: 3px;width: 50px;height: 50px;font-size: 30px;color: gainsboro">
                    <span>3</span>
                </p>
            </div>
        </div>
        <div style="position: absolute;left: 1122px;top: 130px;width: 47px;height: 47px;">
            <img src="/static/image/u3723.png">
            <div>
                <p style="position: absolute;left: 15px;top: 3px;width: 50px;height: 50px;font-size: 30px;color: white">
                    <span>4</span>
                </p>
            </div>
        </div>
    </div>
    <div style="position: absolute;left:  224px;top: 190px;width: 100px;height: 50px;font-size: 13px;color: lightslategray">
        <p>合同类型选择</p>
    </div>
    <div style="position: absolute;left: 515px;top: 190px;width: 100px;height: 50px;font-size: 13px;color: lightslategray">
        <p>合同信息填写</p>
    </div>
    <div style="position: absolute;left:806px;top: 190px;width: 150px;height: 50px;font-size: 13px;color: lightslategray">
        <p>个性化条款生成</p>
    </div>
    <div style="position: absolute;left: 1106px;top: 190px;width: 100px;height: 50px;font-size: 13px;color: green">
        <p>合同一键生成</p>
    </div>
<div class="check">
    <div class="check-text">合同生成成功</div>
    <!--<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filedoc" style="float: left;width: 75px;height: 28px;padding: 0px;font-size: 12px;">浏览</button>-->
</div>
    <div id="filedoc" class="collapse" style=" position: relative; left: 225px;top: 259px;width: 970px;border: 0.6px solid rgb(207, 209, 215);border-image: initial;border-top: none;height: 501px;">
        <iframe scrolling="true" srcdoc="{% for item in content %}<p>{{ item.text}}<p>{% endfor %}" frameborder="0" width="970px" height="500px">
        </iframe>
    </div>
    <div>
        <form method = "POST" action="/admin_gena_newdocx" enctype="multipart/form-data">
            <!--<input type="text" style="visibility: hidden" id="fill_name" name="fill_name" value={{ randintst }}>-->
            <button class="btn btn-success" type="submit" style="    position: relative; left: 800px;top: 509px;width: 170px; height: 34px;border: 0px;border-radius: 2px;">下一步，导出合同文档</button>
        </form>
    </div>
    <div>
        <a href="/admin_gena"><button type="button" style="    position: relative;
    left: 390px;
    top: 475px;
    width: 170px;
    height: 35px;
    border: 0px;">上一步，个性化条款生成</button></a>
    </div>

<style>
     .text {
        position: absolute;
        left: 163px;
        width: 1100px;
        font-size: 11px;
        color: #606266cf;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 20px;
        border: 0.6px solid #cfd1d7;
        border-top: none;
        border-left: none;
        border-right: none
    }
 .check {
        position: absolute;
        left: 225px;
        top: 260px;
        width: 969px;
        height: 50px;
        float: left;
        border: 0.7px solid #c5c8d0ad;
        padding-top: 12px;
        padding-right: 20px;
        padding-left: 12px;
        padding-bottom: 10px;
        background-color: #c5c8d021;
    }

    .check-text {
        float: left;
        width: 810px;
        height: 10px;
        font-size: 13px;
        padding-top: 3px;
    }
    </style>
{% endblock %}

